tbody tr:nth-child(odd) {   background-color: #eeeeee; }
thead tr:nth-child(odd) {   background-color: #cee1ef; }

.h3, h3 {
    font-size: 34px;
}
.h4, h4 {
    font-size: 28px;
}
.h5, h5 {
    font-size: 24px;
}
.panel-title {
    font-size: 26px;
    color: inherit;
}
